<?php

// Create new instance
$migrations = new Migrations;

// Create fields
$migrations->addFieldGroup('staff', [
        [
            'param' => 'post_type',
            'operator' => '==',
            'value' => 'page',
        ],
    ], [
        'hide_on_screen' => ['content_editor']
    ])
    ->addField('image', 'Profile image')
    ->addField('text', 'Full name')
    ->addField('textarea', 'Job description')
    ->addField('wysiwyg', 'Biography');
